body {
  font-family: sans-serif;
  overflow: hidden;
}
.dot {
  height: 0px;
  width: 0px;
  background-color: #767676;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
}
.line {
  border: 0;
  background-color: #000;
  height: 3px;
  cursor: pointer;
}

.slider {
  -webkit-appearance: none;
  width: 150px;
  height: 8px;
  border-radius: 20px;
  background: linear-gradient(to right, #d3d3d3 0%, #d3d3d3 70%, #ff0000 70%, #ff0000 100%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;

  
}

canvas {
  position: static;
}
